* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

html {
  text-align: center;
}

.bg {
  background-image: url('./images/bg.png');
  height: 100vh;
}

img {
  width: 350px;

  @media screen and (max-width: 400px) {
    width: 200px;
  }
}

.content {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 2px;
  margin: 3rem 0;
}

.heading {
  font-size: 4rem;
  color: white;
  font-size: 700;
  letter-spacing: 2px;
}

.message {
  color: white;
  font-weight: 400;
  margin: 3rem 0;
}

.whatsapp {
  color: #25d366;
  font-weight: 700;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.follow {
  color: white;
  font-weight: 600;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem;
  list-style-type: none;
  font-size: 2rem;
}

.icons a {
  color: white;
}

ul li {
  padding: 1rem;
}

.fab {
  font-size: 3rem;
}

/* transition for social icon hover animation */
.fa-facebook,
.fa-instagram,
.fa-github,
.fa-linkedin {
  transition: 0.4s;
  cursor: pointer;
}

/* social media icons hover color */
.fa-facebook:hover,
.fa-facebook:focus {
  color: #1877f2;
  transform: scale(1.1);
}

.fa-instagram:hover,
.fa-instagram:focus {
  color: #bd22a2;
  transform: scale(1.1);
}

.fa-linkedin:hover,
.fa-linkedin:focus {
  color: #0a66c2;
}

@media screen and (max-width: 900px) {
  img {
    width: 300px;
  }

  .title {
    font-size: 1.8rem;
    margin: 2.5rem 0;
  }

  .heading {
    font-size: 3rem;
  }

  .message {
    margin: 1.8rem 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 600px) {
  img {
    width: 220px;
  }

  .title {
    font-size: 1.4rem;
    margin: 2rem 0;
  }

  .heading {
    font-size: 2.5rem;
  }

  .message {
    margin: 2rem 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 400px) {
  img {
    width: 180px;
  }

  .title {
    font-size: 1rem;
    margin: 1.5rem 0;
  }

  .heading {
    font-size: 2rem;
  }

  .message {
    margin: 1.5rem 0;
    font-size: 0.8rem;
  }
}
